<h2>Cambio de imagen</h2>
<div><button class="btn btn-primary" (click)="src='https://images.pexels.com/photos/19972137/pexels-photo-19972137/free-photo-of-moose-in-the-snow.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'">imagen 1</button>
<button class="btn btn-danger" (click)="src='https://images.pexels.com/photos/19982503/pexels-photo-19982503/free-photo-of-a-vase-with-dried-flowers-in-it-on-a-wooden-floor.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'">imagen 2</button>
</div>



<img [src]="src" alt="">